<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
    integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
    integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
    crossorigin="anonymous"></script>

<div id="footer">
    <div id="utility-links">

        <div class="help">
            <ul>
                <h3 class="left">Liên hệ</h3>
                <li><i class="fa-solid fa-envelope"></i> <a href="#">xemphim@gmail.com</a></li>
                <li><i class="fa-solid fa-phone"></i><a href="#">1-888-922-2336</a></li>
            </ul>
        </div>


        <div class="rectangle"></div>

        <div class="about">
            <ul>
                <h3 class="left">Giới thiệu</h3>
                <li><a href="#">Thông tin</a></li>
                <!-- <li><a href="#">Careers</a></li> -->
            </ul>
        </div>

        <div class="rectangle"></div>

        <div class="card">
            <ul>
                <h3 class="left">Quy định</h3>
                <li><a href="#">Điều khoản chung</a></li>
                <li><a href="#">Chính sách riêng</a></li>
            </ul>
        </div>
    </div>

    <div id="newsletter-social">
        <div id="newsletter">
            <h3 class="center">Follow us</h3>
            <p class="deals"></p>
            <div id="social">
                <a href="https://facebook.com/academy" target="_blank">
                    <img width="34" height="34"
                        src="https://res.cloudinary.com/cloudinary-account/image/upload/v1469457641/facebook_khedl5.svg"></a></img>

                <a href="https://twitter.com/academy" target="_blank">
                    <img width="34" height="34"
                        src="https://res.cloudinary.com/cloudinary-account/image/upload/v1469457641/twitter_fu5ejk.svg"></a></img>

                <a href="hhttps://pinterest.com/academy/" target="_blank">
                    <img width="34" height="34"
                        src="https://res.cloudinary.com/cloudinary-account/image/upload/v1469457641/pinterest_kahh1i.svg"></a></img>

                <a href="https://www.youtube.com/user/academydotcom" target="_blank">
                    <img width="34" height="34"
                        src="https://res.cloudinary.com/cloudinary-account/image/upload/v1469457641/youtube_xrntt3.svg"></a></img>

                <a href="http://instagram.com/academy" target="_blank">
                    <img width="34" height="34"
                        src="https://res.cloudinary.com/cloudinary-account/image/upload/v1469457641/instagram_ugek0w.svg"></a></img>

            </div>
        </div>



    </div>

    <div class="rectangle-horiz"></div>

    <div id="copyright">
        <ul>
            <li class="copy">© 2016 Academy Sports + Outdoors. All Rights Reserved.</li>

            <li class="copy">Privacy Policy | Terms + Conditions | Sitemap</li>

            <li class="copy">California Proposition 65 | California Transparency in Supply Chains Act (SB 657)</li>

    </div>

</div>

</footer>
