<header class="main-header">
    <nav class="main-header-nav">
        <ul class="main-header-nav-list">
            <li class="main-header__item">
                <a href="/" class="main-header__item-link">TRANG CHỦ</a>
            </li>
            <li class="main-header__item">
                <a href="" class="main-header__item-link">THỂ LOẠI</a>
            </li>
            <li class="main-header__item">
                <a href="" class="main-header__item-link">QUỐC GIA</a>
            </li>
            <li class="main-header__item">
                <a href="" class="main-header__item-link">PHIM MỚI</a>
            </li>
            <li class="main-header__item">
                <a href="" class="main-header__item-link">PHIM BỘ</a>
            </li>
            <li class="main-header__item">
                <a href="" class="main-header__item-link">PHIM LẺ</a>
            </li>
            <li class="main-header__item">
                <a href="" class="main-header__item-link">TV SHOW</a>
            </li>
            <li class="main-header__item">
                <a href="" class="main-header__item-link">PHIM CHIẾU RẠP</a>
            </li>
            <li class="main-header__item">
                <a href="" class="main-header__item-link">PHIM BỘ</a>
            </li>
            <li class="main-header__item">
                <a href="/admin/add-movie" class="main-header__item-link">Add Movies</a>
            </li>
            <li class="main-header__item">
                <a href="" class="main-header__item-link">Admin</a>
            </li>
        </ul>
    </nav>
    <nav class="main-header-auth">
        <li class="main-header-auth-item">
            <a href="" class="main-header__login-link">Login</a>
        </li>

        <li class="main-header-auth-item">
            <a href="" class="main-header__signin-link">Sign in</a>
        </li>
    </nav>
</header>