.content-myaccount-detail{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
}

.content-myaccount-detail-over{
    display: flex;
    align-items: center;
    justify-content: center
}

.btn-change-infor-myaccount{
    padding: 12px 32px;
    font-size: 14px;
}

.content-myaccount-detail th,
.content-myaccount-detail td
{
    color: aliceblue;
}

.content-myaccount-img{
    max-width: 400px;
}

.content-myaccount-list{
    list-style-type: none;
}

.content-myaccount-item{
    font-size: 14px;
}


/* START TOAST MESSAGE */
/* ======= Toast message ======== */
.toast-message-box{
    height: 60px;
}

.toast-message__success{
    max-width: 360px;
    min-height: 50px;
    background-color: #69b631;
    position: relative;
    display: flex;
    border-radius: 4px;
    margin-left: 65%;
    animation: slideInLeft ease .5s, fadeOut linear 1s 1.5s forwards;
}  

.toast-message__error{
    max-width: 360px;
    min-height: 50px;
    background-color: rgb(255, 64, 0);
    position: relative;
    display: flex;
    border-radius: 4px;
    margin-left: 65%;
    animation: slideInLeft ease .5s, fadeOut linear 1s 1.5s forwards;
}  
@keyframes slideInLeft {
    from {
      opacity: 0;
      transform: translateX(calc(32px));
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  @keyframes fadeOut {
    to {
      opacity: 0;
    }
  }

.toast-message__icon{
    display: flex;
    align-items: center;
    text-align: center;
    position: absolute;
    top: 0;
    left: 4px;
    height: 100%;

}

.toast-message__body{
    position: absolute;
    left: 30px;
    top: 0px;
    bottom: 0;
    font-size: 10px;

}

.toast-message__title{
    font-size: 16px;
    color: aliceblue;

}

.toast-message__msg{

    font-size: 14px;
    color: aliceblue;

}

.toast-message__close{
    position: absolute;
    right: 8px;
    top: 0;


}


  


/* END TOAST MESSAGE */