/* PC: width >= 1024px */
@media only screen and (min-width: 1024px) {
    .container .container-detail-body .row {
        max-height: 415px;
        overflow: hidden;
    }

    .container-detail-body-img {
        height: 415px;
    }

    .container-detail-body-img-content {
        height: 100% !important;
    }

    .container-detail-body-img-detail {
        width: 100% !important;
    }
}

/* Mobile: width < 740px */
@media only screen and (max-width: 739px) {

    /* HOME */

    .container-home-sidebar,
    .carousel-control-prev,
    .carousel-control-next,
    .main-header-nav-list {
        display: none !important;
    }


    .container-header-slider-list {
        overflow: hidden;
    }

    .container-detail-body-img-detail {
        width: 100%;
        height: 100%;
    }

    .container.container-body .container-home-list .container .row {
        display: flex;
        justify-content: space-around;
        height: 300px;
        background-color: #181818;
        overflow: hidden;
    }

    #IDSLIDER .container .col-md-2 {
        width: 50%;
    }

    #IDSLIDER .container .col-md-2 .container-movie-name,
    #IDSLIDER .container .col-md-2 .container-movie-img {
        width: 100% !important;
    }

    .col-md-2 .container-movie-item,
    .row .col-md-3 .container-movie-img {
        width: 100%;

    }

    .container.container-body .row .col-md-9 {
        width: 100% !important;
        padding-left: calc(var(--bs-gutter-x) * .5);
    }

    .container-home-list .col-md-3 {
        width: 50%;
    }

    .container-home-sidebar {
        display: none;
    }

    /* MOVIE DETAIL */
    .col-md-9.container-body-movie-detail {
        background-color: #302e2e;
        margin: 16px 0 0;
    }

    .col-md-9.container-body-movie-detail .container-home-list {
        max-height: 255px;
        overflow: hidden;
    }

    .row .col-md-9.container-body-movie-detail {
        padding: 0 !important;
        background: #181818;
    }

    #carouselExampleControls .container .col-md-2 {
        width: 50%;
    }

    /* WATCH FILM */


    .padding-right-0 {
        padding: 0 !important;

    }

    .container-body-episode {
        padding: 0 !important;
        padding-top: 20px !important;
    }

    .container-body-episode-list {
        height: 90px !important;
        overflow-y: scroll !important;
    }

    .container-body-video-title span {
        padding-left: 8px;
    }

    .container-body-video-detail .row {
        width: 100% !important;
        margin: 0 !important;
    }

    .container.container-body-video-detail .container-body-video {
        height: 320px !important;
    }

    .container.container-body-video-detail .container-body-video iframe {
        height: 320px !important;
    }

    .container.container-body-video-detail #carouselExampleControls .container-home-list {
        max-height: 255px;
        overflow: hidden;
    }

    .container.container-body-video-detail #carouselExampleControls .container .col-md-2 {
        width: 45%;
    }
}

/* Tablet: width >= 740px and width < 1024px */
@media only screen and (min-width: 740px) and (max-width: 1023px) {

    /* HOME */
    .container.container-body .container-home-list .container .row {
        display: flex;
        justify-content: space-around;
        height: 300px;
        background-color: #181818;
        overflow: hidden;
    }

    #IDSLIDER .container .col-md-2 {
        width: 23%;
    }

    .col-md-2 .container-movie-item,
    .row .col-md-3 .container-movie-img {
        width: 100%;

    }

    .container.container-body .row .col-md-9 {
        width: 100% !important;
    }

    .container-home-list .col-md-3 {
        width: 30%;
    }

    .container-home-sidebar {
        display: none;
    }

    /* MOVIE DETAIL */
    body {
        background-color: #181818 !important;
    }

    .container-detail-header {
        min-width: 720px !important;
        margin-left: -7px
    }

    .container .container-detail-body {
        padding: 0 12px;
        margin-bottom: 24px;
    }

    .container .container-detail-body .row {
        max-height: 408px;
        overflow: hidden;
    }

    .col-md-9.container-body-movie-detail {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
        padding-right: 0;
    }

    .container-detail-body-img-detail,
    .container-detail-body-img-content {
        width: 100%;
    }

    .col-md-6.container-detail-body-img {
        width: 40%;
        height: 408px;
    }

    .container-detail-body-detail {
        padding-right: 0;
        padding-bottom: 0;
    }

    .detail-body-title-name {
        font-size: 18px;
    }

    .container-detail-chatonline {
        margin-left: 15px;
        margin-right: 12px;
    }

    .row .col-md-3 .container-home-sidebar {
        display: none;
    }

    .container-body-movie-detail #carouselExampleControls .container-movie-img,
    .container-body-movie-detail #carouselExampleControls .container-movie-item {
        width: 140px;
    }

    /* WATCH MOVIE */
    .container-body-video-ifarme {
        width: 100%;
        height: 700px !important;
    }

    .container-body-episode {
        padding-top: 40px !important;
    }

    .container.container-body-video-detail {
        max-width: 700px !important;
    }

    .container-detail-chatonline {
        margin: 0;
    }

    .container-body-video-detail #carouselExampleControls .carousel-inner {
        width: 700px;
        margin: 8px 0 24px 0;
        background-color: #302e2e;
    }

    #carouselExampleControls .container .col-md-2 {
        width: 30%;
    }

    #carouselExampleControls .container {
        height: 250px;
    }

    .container-body-movie-detail #carouselExampleControls .container .row {
        background-color: #302e2e;
    }

    .container.container-body-video-detail .container-body-video {
        height: 320px !important;
    }

    .container.container-body-video-detail .container-body-video iframe {
        height: 320px !important;
    }

}