/* PC: width >= 1024px */
@media only screen and (min-width: 63.9375em) {
    .container .container-detail-body .row {
        max-height: 415px;
        overflow: hidden;
    }

    .container-detail-body-img {
        height: 415px;
    }

    .container-detail-body-img-content {
        height: 100% !important;
    }

    .container-detail-body-img-detail {
        width: 100% !important;
    }
}

/* Mobile: width < 740px */
@media only screen and (max-width: 46.1875em) {}

/* Tablet: width >= 740px and width < 1024px */
@media only screen and (min-width: 46.25em) and (max-width: 63.9375em) {

    /* HOME */
    .container.container-body .container-home-list .container .row {
        display: flex;
        justify-content: space-around;
        height: 300px;
        background-color: #181818;
        overflow: hidden;
    }

    #IDSLIDER .container .col-md-2 {
        width: 23%;
    }

    .col-md-2 .container-movie-item,
    .row .col-md-3 .container-movie-img {
        width: 100%;

    }

    .container.container-body .row .col-md-9 {
        width: 100% !important;
    }

    .container-home-list .col-md-3 {
        width: 30%;
    }

    .container-home-sidebar {
        display: none;
    }

    /* MOVIE DETAIL */
    body {
        background-color: #181818 !important;
    }

    .container-detail-header {
        min-width: 720px !important;
        margin-left: -7px
    }

    .container .container-detail-body {
        padding: 0 12px;
        margin-bottom: 24px;
    }

    .container .container-detail-body .row {
        max-height: 408px;
        overflow: hidden;
    }

    .col-md-9.container-body-movie-detail {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
        padding-right: 0;
    }

    .container-detail-body-img-detail,
    .container-detail-body-img-content {
        width: 100%;
    }

    .col-md-6.container-detail-body-img {
        width: 40%;
        height: 408px;
    }

    .container-detail-body-detail {
        padding-right: 0;
        padding-bottom: 0;
    }

    .detail-body-title-name {
        font-size: 18px;
    }

    .container-detail-chatonline {
        margin-left: 15px;
        margin-right: 12px;
    }

    .row .col-md-3 .container-home-sidebar {
        display: none;
    }

    .container-body-movie-detail #carouselExampleControls .container-movie-img,
    .container-body-movie-detail #carouselExampleControls .container-movie-item {
        width: 140px;
    }

    /* WHAT MOVIE */
    .container.container-body-video-detail {
        max-width: 700px !important;
    }

    .container-detail-chatonline {
        margin: 0;
    }

    .container-body-video-detail #carouselExampleControls .carousel-inner {
        width: 700px;
        margin: 8px 0 24px 0;
        background-color: #302e2e;
    }

    #carouselExampleControls .container .col-md-2 {
        width: 30%;
    }

    #carouselExampleControls .container {
        height: 250px;
    }

    .container-body-movie-detail #carouselExampleControls .container .row {
        background-color: #302e2e;
    }

}