<div class="col-md-2">
    <div class="container-movie-item">
        <a href="/film/<%= name %>" class="container-movie-item-link">

            <img class="container-movie-img" src="/<%= imageUrl %>" alt="fasdf">
        </a>

        <a href="/film/<%= name %>" class="container-movie-item-link">

            <div class="container-movie-name">
              <%= name %>
            </div>  
        </a>
    </div>
</div>