.body-container-admin{

}

.body-admin-header{
    text-align: center;
    padding: 16px 8px;
    background-color: white;
    box-shadow: 3px 0px 5px 2px rgb(188, 188, 203);
    border-radius: 2px;
}   

.body-admin-header-title{
    margin: 0;
    font-weight: 800;
    color: #666;
    font-size: 15px;
    
}

.body-admin-content{
    margin-top: 8px;
    padding-top: 12px;
    background: linear-gradient(to right, rgb(29, 16, 44), rgb(89, 89, 126));
    box-shadow: 3px 0px 3px 2px rgb(188, 188, 203);
}

.item-header{
    font-weight: 600;
    color: rgb(251, 250, 250);
    font-size: 14px;
}

.body-admin-content-header{

}

.body-admin-content-item-header{
    border-bottom: 0.5px solid rgb(246, 243, 243);
}

.body-admin-content-item{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 16px 0;
    text-align: center;

}

.body-admin-content-item span {
    color: azure;
    font-size: 12px;
}



.body-admin-content-list{
    width: 100%;
    height: 585px;
    overflow-y: scroll;

}

.body-admin-content-list::-webkit-scrollbar{
    width: 10px;
}

.body-admin-content-list::-webkit-scrollbar-thumb{
    background-color: #333;
    border-radius: 100rem;
}

.body-admin-content-list::-webkit-scrollbar-track{
    background-color: rgb(246, 242, 242);
    border-radius: 100rem;
}




.body-admin-content-item-action{
    display: flex;
    align-items: center;
    justify-content: center;

}

.btn-body-admin-item{
    text-align: center;
    padding: 10px 14px;
    border-radius: 4px;
    margin-right: 10px;
}

.btn-body-admin-item:hover{
    background-color: #999;
    border: 0px solid rgb(240, 243, 248);
    color: aliceblue;
}

.body-admin-item-icon{
    font-size: 20px;
    color: whitesmoke;
}

.body-admin-item-icon:hover{
    color: rgb(198, 160, 160);
}



.body-admin-search-header{
    position: relative;
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.body-admin-search{
    position: relative;
}

.body-admin-search-input{
    border: 1px solid #333;
    width: 300px;
    height: 35px;
    border-radius: 4px;
    font-size: 12px;
}

.body-admin-search-icon{
    position: absolute;
    right: 32px;
    top: 10px;
    font-size: 12px;
    color: #333;

}

.body-admin-search-add-user{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 32px;
    text-align: center;
    border-radius: 3px;
}

.body-admin-search-add-user-icon{
    font-size: 20px;
    color: black;
    padding: 4px 6px;
}

.body-admin-search-add-user:hover{
    cursor: pointer;
}
.body-admin-search-add-user-icon:hover{
    color: darkgoldenrod;
}


.btn-group-sort-typeFilm{
    position: absolute;
    left: 70px;
}