<div class="sidebar-movie-new-item">
    <img class="sidebar-item-img" src="/<%= movies.imageUrl %>" alt="fasdfasd">
    <div class="sidebar-item-content">
      <span class="sidebar-item-episode">
        1/1 Tập
      </span>
      <span class="sidebar-item-producer">
        <%= movies.producer %>
      </span>
      <p class="sidebar-item-name">
        <%= movies.name %>
      </p>
    </div>
  </div>