<div class="container-body-video">
    <iframe class="container-body-video-ifarme" src="https://www.youtube.com/embed/tgbNymZ7vqY">
    </iframe>
</div>
<div class="container-body-episode ">
    <div class="container-body-episode-list">
        <div class="container-body-episode-item">
            <a href="">
                <span>Tập 1</span>
            </a>
        </div>
        <div class="container-body-episode-item">
            <a href="">
                <span>Tập 1</span>
            </a>
        </div>
        <div class="container-body-episode-item">
            <a href="">
                <span>Tập 1</span>
            </a>
        </div>
        <div class="container-body-episode-item">
            <a href="">
                <span>Tập 1</span>
            </a>
        </div>
        <div class="container-body-episode-item">
            <a href="">
                <span>Tập 1</span>
            </a>
        </div>
        <div class="container-body-episode-item">
            <a href="">
                <span>Tập 1</span>
            </a>
        </div>
        <div class="container-body-episode-item">
            <a href="">
                <span>Tập 1</span>
            </a>
        </div>
        <div class="container-body-episode-item">
            <a href="">
                <span>Tập 1</span>
            </a>
        </div>
        <div class="container-body-episode-item">
            <a href="">
                <span>Tập 1</span>
            </a>
        </div>
        <div class="container-body-episode-item">
            <a href="">
                <span>Tập 1</span>
            </a>
        </div>
        <div class="container-body-episode-item">
            <a href="">
                <span>Tập 1</span>
            </a>
        </div>
        <div class="container-body-episode-item">
            <a href="">
                <span>Tập 1</span>
            </a>
        </div>
        <div class="container-body-episode-item">
            <a href="">
                <span>Tập 1</span>
            </a>
        </div>
        <div class="container-body-episode-item">
            <a href="">
                <span>Tập 1</span>
            </a>
        </div>
        <div class="container-body-episode-item">
            <a href="">
                <span>Tập 1</span>
            </a>
        </div>
        <div class="container-body-episode-item">
            <a href="">
                <span>Tập 1</span>
            </a>
        </div>
        <div class="container-body-episode-item">
            <a href="">
                <span>Tập 1</span>
            </a>
        </div>
        <div class="container-body-episode-item">
            <a href="">
                <span>Tập 1</span>
            </a>
        </div>
        <div class="container-body-episode-item">
            <a href="">
                <span>Tập 1</span>
            </a>
        </div>
        <div class="container-body-episode-item">
            <a href="">
                <span>Tập 1</span>
            </a>
        </div>
        <div class="container-body-episode-item">
            <a href="">
                <span>Tập 1</span>
            </a>
        </div>
        <div class="container-body-episode-item">
            <a href="">
                <span>Tập 1</span>
            </a>
        </div>
        <div class="container-body-episode-item">
            <a href="">
                <span>Tập 1</span>
            </a>
        </div>
        <div class="container-body-episode-item">
            <a href="">
                <span>Tập 1</span>
            </a>
        </div>

    </div>
</div>

<div class="container-body-video-title">
    <span>TEN PHIM O DAY</span>
</div>